<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">

    <div class="welcome">
        <!-- IF -->
        <div th:if="${name == null}">
            <h1>Welcome, Guest</h1>
        </div>
        <!-- ELSE -->
        <div th:if="${name} != null">
            <h1 th:text="${name} +', I hope you interested to hire me'"/>
        </div>
    </div>

    <div class="pesonal-data">
        <p>Name: Fadhlan Hafizh Permana</p>
        <p>Birthplace: Jakarta</p>
        <p>Birthdate: 11 August 1997</p>
        <p>Address: Kukusan</p>
    </div>

    <div class="education">
        <h3>Education</h3>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12"><h4>1. Computer Science, Universitas Indonesia | Bachelor Degree | Class of
                    2017</h4></div>
                <div class="col-md-12"><h4>2. SMA Negeri 5 Kota Bekasi | Senior High School | Class of 2012</h4></div>
                <div class="col-md-12"><h4>3. SMP Negeri 1 Kota Bekasi | Junior High School | Class of 2009</h4></div>
                <div class="col-md-12"><h4>1. SD Islam Al-Azhar 9 Kemang Pratama | Elementary School | Class of
                    2003</h4></div>
            </div>
        </div>
    </div>

    <div class="about-me my-3">
        <h3>
            About Me
        </h3>
        <p>
            My name is Fadhlan Hafizh Permana, I was born in Jakarta. <br>
            My hobby is travelling and culinary, i love to discover local cuisine when i visit a town
        </p>
    </div>
</div>
</body>
</html>
